services:
  ensindexer:
    container_name: ensindexer
    image: ghcr.io/namehash/ensnode/ensindexer:1.0.0-ensv2.2
    pull_policy: always
    ports:
      - "42069:42069"
    depends_on:
      postgres:
        condition: service_started
      ensrainbow:
        condition: service_healthy
    env_file:
      - path: .env.local
        required: true
    environment:
      ENSINDEXER_URL: http://ensindexer:42069
      ENSRAINBOW_URL: http://ensrainbow:3223
      DATABASE_URL: postgresql://postgres:password@postgres:5432/postgres
      DATABASE_SCHEMA: sepolia
      NAMESPACE: sepolia
      PLUGINS: ensv2,protocol-acceleration
      LABEL_SET_ID: ens-test-env
      LABEL_SET_VERSION: 0
    healthcheck:
      test: ["CMD", "curl", "--fail", "-s", "http://localhost:42069/health"]
      interval: 30s
      timeout: 10s
      retries: 3
      start_period: 5m
      start_interval: 1s

  ensrainbow:
    container_name: ensrainbow
    image: ghcr.io/namehash/ensnode/ensrainbow:1.0.0-ensv2.2
    pull_policy: always
    environment:
      DB_SCHEMA_VERSION: 3
      LABEL_SET_ID: ens-test-env
      LABEL_SET_VERSION: 0
      LOG_LEVEL: error
    volumes:
      - ensrainbow_data:/app/apps/ensrainbow/data
    healthcheck:
      test: ["CMD", "wget", "-q", "--spider", "http://localhost:3223/health"]
      interval: 30s
      timeout: 5s
      retries: 2
      start_period: 2m
      start_interval: 1s

  ensapi:
    container_name: ensapi
    image: ghcr.io/namehash/ensnode/ensapi:1.0.0-ensv2.2
    pull_policy: always
    ports:
      - "4334:4334"
    depends_on:
      postgres:
        condition: service_started
      ensindexer:
        condition: service_healthy
    environment:
      ENSINDEXER_URL: http://ensindexer:42069
      DATABASE_URL: postgresql://postgres:password@postgres:5432/postgres

  ensadmin:
    container_name: ensadmin
    image: ghcr.io/namehash/ensnode/ensadmin:1.0.0-ensv2.2
    pull_policy: always
    ports:
      - "4173:4173"
    environment:
      ENSADMIN_PUBLIC_URL: http://localhost:4173
      NEXT_PUBLIC_DEFAULT_ENSNODE_URLS: http://localhost:4334
    depends_on:
      - ensapi

  postgres:
    container_name: postgres
    restart: always
    image: postgres:17
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    tmpfs:
      - /var/lib/postgresql/data

volumes:
  ensrainbow_data:
    driver: local
